.plonq500__wrapper {
  margin-bottom: 10rem;
  background-color: rgb(249, 249, 249);

  h2 {
    font-weight: 300;
    font-size: 2.8rem;
    line-height: 3.4rem;
    text-transform: uppercase;
  }
}

.plonq500__header {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 100%;
  height: 101.6rem;
  background-color: rgb(212, 242, 232);
  z-index: 2;
  overflow: hidden;

  & > img {
    position: absolute;
    user-select: none;
    z-index: -1;
  }
}

.plonq500__header__hand-up {
  top: 0;
  left: 38.3%;
}

.plonq500__header__stick {
  left: 32%;
  bottom: 16rem;
}

.plonq500__header__hand-down {
  bottom: 0;
  left: 38.3%;
}

.plonq500__header__text {
  margin-left: 24.16vw;
  margin-bottom: 25.1rem;

  h1 {
    font-weight: 300;
    font-size: 3.2rem;
    line-height: 4.4rem;
    text-transform: uppercase;
    color: rgba(41, 139, 122, .82);

    &:last-of-type {
      margin-bottom: 8.8rem;
    }
  }
}

.plonq500__header__text__more-info {
  display: flex;
  align-items: flex-end;
  gap: 2.6rem;

  span {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.1rem;
    text-transform: uppercase;
    color: rgba(41, 139, 122, .82);
  }
}

.plonq500__advantages__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24rem 0 36.8rem;

  h2 {
    margin-right: 7.7rem;
  }
}

.plonq500__advantages__container {
  display: flex;
  align-items: center;
  gap: 12rem;
}

.plonq500__advantages__img {
  width: 12rem;
  height: 63.2rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.plonq500__advantage {
  display: flex;
  gap: 7.2rem;

  &:not(:last-of-type) {
    margin-bottom: 6.4rem;
  }
}

.plonq500__advantage__img {
  display: flex;
  justify-content: center;
  width: 4.8rem;
  height: 6rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top;
  }
}

.plonq500__advantage__text {
  h3 {
    font-weight: 400;
    font-size: 2.3rem;
    line-height: 2.8rem;
    margin-bottom: 2.3rem;
  }

  p {
    font-weight: 300;
    max-width: 27.5rem;
    font-size: 1.5rem;
    line-height: 2.1rem;
  }
}

.plonq500__quality-certificates__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 123.2rem;
  width: 100%;
  margin: 0 auto 35.7rem;

  h2 {
    margin-left: 12rem;
    margin-bottom: 12.3rem;
  }
}

.plonq500__quality-certificates__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 6rem;
  column-gap: 12.4rem;
  width: 100%;
}

.plonq500__quality-certificate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32.8rem;
  height: 46.5rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.plonq500__where-to-buy__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 11.8rem;
}

.plonq500__where-to-buy__text {
  font-size: 2.8rem;
  line-height: 3.4rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 9.2rem;
  text-transform: uppercase;

  span {
    font-weight: 400;
  }
}

.plonq500__where-to-buy__img {
  width: 92.4rem;
  height: 52.8rem;
  margin-bottom: 9.2rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.plonq500__where-to-buy__link {
  display: inline-flex;
  align-items: center;
  height: 4.8rem;
  border: .1rem solid #000000;
  border-radius: 10rem;
  font-size: 1.3rem;
  line-height: 2.4rem;
  padding: 0 5.4rem;
  color: #000000;
  background-color: transparent;
  transition: all .24s ease-in-out;

  &:hover {
    color: #FFFFFF;
    background-color: #1f1f1f;
    border-color: transparent;
    transition: all .24s ease-in-out;
  }
}

.plonq500__tastes__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 140.8rem;
  width: 100%;
  margin: 0 auto 34.8rem;

  h2 {
    margin-bottom: 7.2rem;
    margin-left: 20.8rem;
  }

  a {
    align-self: center;
    padding: 0 6.4rem;
  }
}

.plonq500__tastes__container {
  width: 100%;
  margin-bottom: 9.2rem;
}

.plonq500__tastes__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1.9rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.plonq500__tastes {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
  padding: 0 10.7rem;
}

.plonq500__taste {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 9.7rem;
  width: 100%;

  span {
    width: 1.9rem;
    height: 1.9rem;
    border-radius: 50%;
    box-shadow: .3rem .3rem .7rem rgba(70, 70, 70, .4) inset;
    margin-bottom: 2.4rem;
  }

  p {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.1rem;
    font-weight: 300;
  }
}

.plonq500__specifications__wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 108rem;
  background-color: #000000;
  margin-bottom: 19.4rem;
  padding: 0 3rem;
}

.plonq500__specifications__container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 101rem;
  width: 100%;
}

.plonq500__specifications__text {
  margin-bottom: 28.5rem;

  h2 {
    color: #FFFFFF;
    margin-bottom: 17.1rem;
  }
}

.plonq500__specifications__img {
  width: 18.2rem;
  height: 84rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
  }
}

.plonq500__specifications__items {
  display: grid;
  grid-template-columns: auto auto;
  gap: 9.2rem 15.5rem;
}

.plonq500__specification__item {
  display: flex;
  align-items: center;
  column-gap: 4.7rem;
  width: 100%;

  p {
    font-weight: 400;
    font-size: 2.3rem;
    line-height: 2.8rem;
    color: #FFFFFF;
    margin-bottom: .8rem;
  }

  span {
    font-weight: 300;
    font-size: 2.2rem;
    line-height: 3.2rem;
    color: #FFFFFF;
  }
}

.plonq500__specification__item__img {
  width: 5rem;
  height: 5.5rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media(max-width: 1280px) {
  .plonq500__tastes {
    padding: 0 7rem;
  }
}

@media(max-width: 1080px) {
  .plonq500__advantages__wrapper {  
    h2 {
      margin-right: 5.6rem;
    }
  }
  
  .plonq500__advantages__container {
    gap: 8rem;
  }
  
  .plonq500__advantage {
    gap: 5rem;
  }
}

@media(max-width: 960px) {
  .plonq500__wrapper {
    margin-bottom: 3rem;

    h2 {
      font-size: 2.3rem;
      line-height: 3.6rem;
    }
  }
  
  .plonq500__header {
    height: 113.3rem;
  }
  
  .plonq500__header__hand-up {
    width: 71.3rem;
    height: 50.4rem;
    left: 35%;
  }
  
  .plonq500__header__stick {
    width: 88.9rem;
    height: 80.5rem;
    left: 15%;
    bottom: 20.8rem;
  }
  
  .plonq500__header__hand-down {
    width: 78.8rem;
    height: 45.8rem;
    left: 18%;
  }
  
  .plonq500__header__text {
    margin-left: 15vw;
    margin-bottom: 43.6rem;
  
    h1 {
      font-size: 2.3rem;
      line-height: 3.6rem;

      &:last-of-type {
        margin-bottom: 2.6rem;
      }
    }
  }
  
  .plonq500__header__text__more-info {
    gap: 2.8rem;
  }

  .plonq500__advantages__wrapper {
    flex-direction: column;
    margin: 4.7rem 0 11.2rem;
  
    h2 {
      margin-right: 0;
      margin-bottom: 6.7rem;
    }
  }
  
  .plonq500__advantages__container {
    gap: 8.1rem;
  }
  
  .plonq500__advantages__img {
    width: 6.2rem;
    height: 32.8rem;
  }
  
  .plonq500__advantage {
    gap: 3.2rem;
  
    &:not(:last-of-type) {
      margin-bottom: 2.6rem;
    }
  }
  
  .plonq500__advantage__img {
    width: 3.3rem;
    height: 3.7rem;

    img {
      object-position: center right;
    }
  }
  
  .plonq500__advantage__text {
    h3 {
      font-size: 1.8rem;
      margin-bottom: .4rem;
    }
  }

  .plonq500__quality-certificates__wrapper {
    max-width: none;
    align-items: center;
    margin-bottom: 11.4rem;
  
    h2 {
      margin-left: 0;
      margin-bottom: 4rem;
    }
  }
  
  .plonq500__quality-certificates__container {
    flex-direction: column;
    align-items: center;
    row-gap: 7rem;
    max-width: 21.2rem;
  }
  
  .plonq500__quality-certificate {
    width: 100%;
    height: 30.1rem;
  }

  .plonq500__where-to-buy__wrapper {
    margin-bottom: 4.4rem;
  }
  
  .plonq500__where-to-buy__text {
    font-size: 2.3rem;
    line-height: 3.2rem;
    margin-bottom: 4.4rem;
  }
  
  .plonq500__where-to-buy__img {
    width: 52rem;
    height: 29.7rem;
    margin-bottom: 3.4rem;  
  }
  
  .plonq500__where-to-buy__link {
    height: 3.8rem;
    padding: 0 4rem;
  }

  .plonq500__slider__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 9.8rem;

    a {
      align-self: center;
      padding: 0 3.2rem;
    }
  }
  
  .plonq500__slider__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    margin-bottom: 2.4rem;
  
    p {
      font-size: 1.8rem;
      line-height: 2.8rem;
    }
  
    span {
      font-weight: 300;
      font-size: 1.5rem;
      line-height: 2.1rem;
    }
  }
  
  .plonq500__slider__item__img {
    width: 9.3rem;
    height: 35.7rem;
    margin-bottom: 2.2rem;
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom;
    }
  }

  .plonq500__specifications__wrapper {
    height: 60rem;
    margin-bottom: 6.4rem;
    padding: 0 .75rem;
  }
  
  .plonq500__specifications__container {
    max-width: 53.4rem;
  }
  
  .plonq500__specifications__text {
    margin-bottom: 14.9rem;
  
    h2 {
      margin-bottom: 11.3rem;
    }
  }
  
  .plonq500__specifications__img {
    width: 11.3rem;
    height: 52rem;  
  }
  
  .plonq500__specifications__items {
    gap: 5.6rem 4.4rem;
  }
  
  .plonq500__specification__item {
    column-gap: 1.5rem;
  
    p {
      font-size: 1.5rem;
      line-height: 2.1rem;
      margin-bottom: 0;
    }
  
    span {
      font-size: 1.5rem;
      line-height: 2.1rem;
    }
  }
  
  .plonq500__specification__item__img {
    width: 2.6rem;
    height: 3.4rem;
  }
}

@media (max-width: 768px) {
  .plonq500__wrapper {
    margin-top: 6.4rem;
  }

  .plonq500__header {
    height: 90rem;
  }

  .plonq500__header__hand-up {
    width: 55rem;
    height: 40rem;
    left: 20%;
    object-fit: contain;
    object-position: top;
  }
  
  .plonq500__header__stick {
    width: 75rem;
    height: 55rem;
    left: 0;
    top: 0rem;
    bottom: 0;
    object-fit: contain;
  }
  
  .plonq500__header__hand-down {
    width: 60rem;
    height: 40rem;
    left: 10%;
    object-fit: contain;
    object-position: bottom;
  }

  .plonq500__header__text {
    margin-bottom: 20rem;
  }
}

@media(max-width: 580px) {
  .plonq500__where-to-buy__img {
    width: 40rem;
    height: 29.7rem;
    margin-bottom: 3.4rem;  
  }
}

@media(max-width: 520px) {
  .plonq500__advantages__container {
    gap: 5.8rem;
  }

  .plonq500__advantages__container {
    align-items: flex-start;
  }

  .plonq500__advantage {
    flex-direction: column;
    gap: 2.4rem;
  
    &:not(:last-of-type) {
      margin-bottom: 4rem;
    }
  }

  .plonq500__advantage__img {
    width: 3.2rem;
    height: 3.2rem;

    img {
      object-position: center bottom;
    }
  }
}

@media(max-width: 425px) {
  .plonq500__wrapper {
    h2 {
      font-size: 1.8rem;
      line-height: 2.07rem;
    }

    svg {
      width: 1.4rem;
      height: .8rem;
    }
  }

  .plonq500__header {
    height: 60.3rem;
  }
  
  .plonq500__header__hand-up {
    width: 30rem;
    height: 25.2rem;
    left: 5.2rem;
  }
  
  .plonq500__header__stick {
    width: 37.5rem;
    height: 41.8rem;
    top: 2.2rem;
  }
  
  .plonq500__header__hand-down {
    width: 36.6rem;
    height: 20.3rem;
    left: -2.7rem;
  }
  
  .plonq500__header__text {
    margin-left: 5.2rem;
    margin-bottom: 19.8rem;
  
    h1 {
      font-size: 1.4rem;
      line-height: 2.2rem;

      &:first-child {
        font-weight: 400;
      }
      
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  
  .plonq500__header__text__more-info {
    display: none;
  }

  .plonq500__advantages__wrapper {
    margin: 7.2rem 0 12.9rem;
  
    h2 {
      margin-bottom: 4.6rem;
    }
  }
      
  .plonq500__advantage {
    gap: 1rem;
  }
    
  .plonq500__advantage__text {
    h3 {
      font-size: 1.2rem;
      line-height: 1.38rem;
      margin-bottom: 1rem;
    }

    p {
      max-width: 15.2rem;
      font-size: 1.1rem;
      line-height: 1.6rem;
    }
  }

  .plonq500__quality-certificates__wrapper {
    margin-bottom: 19.5rem;
  
    h2 {
      margin-bottom: 4.7rem;
    }
  }
  
  .plonq500__quality-certificates__container {
    row-gap: 3.1rem;
    max-width: 19.4rem;
  }
  
  .plonq500__quality-certificate {
    height: 27.5rem;
  }

  .plonq500__where-to-buy__wrapper {
    margin-bottom: 15.6rem;
  }
  
  .plonq500__where-to-buy__text {
    font-size: 1.8rem;
    line-height: 2.07rem;
    margin-bottom: 4.5rem;
  }
  
  .plonq500__where-to-buy__img {
    width: 27.1rem;
    height: 15.5rem;
    margin-bottom: 4.9rem;  
  }
  
  .plonq500__where-to-buy__link {
    font-size: 1.2rem;
    line-height: 2.1rem;
    padding: 0 2.6rem;
  }

  .plonq500__slider__wrapper {
    margin-bottom: 19rem;

    a {
      padding: 0 3.5rem;
    }
  }
  
  .plonq500__slider__item {
    width: 27rem;
  
    p {
      font-size: 1.9rem;
      line-height: 2.185rem;
    }
  
    span {
      font-size: 1.1rem;
      line-height: 1.6rem;
    }
  }

  .plonq500__specifications__wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-bottom: 10.5rem;
    padding: 10.7rem 1.5rem 9.7rem;

    h2 {
      width: 25.8rem;
      color: #FFFFFF;
      margin-bottom: 1.2rem;
    }
  }
  
  .plonq500__specifications__container {
    align-items: center;
    justify-content: center;
    max-width: none;
    column-gap: 7rem;
  }
    
  .plonq500__specifications__img {
    width: 8.2rem;
    height: 51.9rem;
  
    img {
      object-position: center;
    }
  }
  
  .plonq500__specifications__items {
    display: flex;
    flex-direction: column;
    grid-template-columns: none;
    gap: 4.2rem 15.5rem;
  }
  
  .plonq500__specification__item {
    column-gap: 2rem;
  
    p {
      font-size: 1.2rem;
      line-height: 1.6rem;
    }
  
    span {
      font-size: 1.1rem;
      line-height: 1.6rem;
    }
  }
  
  .plonq500__specification__item__img {
    width: 2.5rem;
    height: 3.6rem;
  }
}

@media(max-width: 375px) {
  .plonq500__wrapper {
    margin-top: 4rem;
  }

  .plonq500__header {
    height: 62.7rem;
  }
}